.intro__list {
  width: 690px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .intro__list {
    width: 288px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__list {
    width: 720px;
    margin: 0;
    padding: 0;
  }
}
