.place__link-bottom {
  position: relative;
  top: 180px;
}

@media screen and (max-width: 767px) {
    .place__link-bottom {
    position: static;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__link-bottom {
  top: 124px;
  }
}