.place__url-heading-bottom {
  position: relative;
  top: 182px;
}

@media screen and (max-width: 767px) {
    .place__url-heading-bottom {
      position: static;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__url-heading-bottom {
    position: relative;
    top: 123px;
  }
}