.lead__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  width: 640px;
  padding: 0;
  margin: 0 180px 64px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__subtitle {
    padding: 0 40px;
    width: 640px;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    width: 288px;
    line-height: 20px;
    margin: 0 auto 40px;
    padding: 0;
  }
}
