.place__link {
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
  top: 100px;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .place__link {
    position: static;
    margin-left: 16px;
  }
}
