.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 92px;
  padding: 0 148px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    padding: 0 48px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 66px;
  }
}
