.place__url-heading {
    color: #AAAAAA;
    margin: 0 0 12px;
    padding: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .place__url-heading {
        color: #AAAAAA;
        margin-right: 410px;
    }
}