.place__url-heading {
  color: #aaaaaa;
  margin: 0 0 12px;
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
  letter-spacing: 2px;
  position: relative;
  top: 100px;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    color: #aaaaaa;
    margin-right: 410px;
    margin-left: 16px;
    position: static;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__url-heading {
    position: static;
  }
}
