.place__website {
    height: 100px;
}

@media screen and (max-width: 767px) {
    .place__website {
        margin: 0;
        padding: 0;
        height: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__website {
     position: relative;
     right: 90px;
    }
}